doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="https://d3js.org/d3.v3.min.js")
  body
    != yield
    script(src="/main.js")