article
    .section(id="waypoint-0")
        .contents
            h1 The Evolution of Bias in the Media
            p.byline by Matt Adereth, Ashesh Choudhury, and Aithne Feay

    .section(id="waypoint-1")
        .contents
            h3.rellax(data-rellax-speed="0.5") Background and Motive
            p There has been a great deal of discussion in recent and distant memory over the notion that one of the great American papers of record, The New York Times, is a "biased" news source. This debate often comes from both sides of the political spectrum, with Conservatives claiming that the paper is Liberal and vice-versa. These contradictory claims are rooted in the difficulty in both defining and measuring political bias.
            p Qualitative measures of political bias are plentiful, but remain subjective. Beyond the personal views of the evaluator, the very definition of center shifts over time and the results of the evaluation must be considered within the context of the time they were produced.
            p There have also been several attempts to quantitatively evaluate the bias of news sources.  Traditional sentiment analysis techniques have been applied to measure the positivity or negativity of articles about politicians and movements. While certainly interesting, the training corpus for the applied sentiment models, typically reviews of movies and product, may not utilize the same language styles as a newspaper article or editorial.
            p We seek to skirt the issue of temporal relativity and the problems of identifying sentiment with questionably applicable training data by training a classifier that predicts whether an article was spoken by a Democrat or a Republican. We then apply the classifier to news articles over time to evaluate whether the language used sounds like it came from one party or the other.

    .section(id="waypoint-2")
        .contents.contents-graphic
            .graphic-header
                h3.rellax(data-rellax-speed="0.5") Keyword References
                input#keyword(name="search" type="text" value="fiscal" placeholder="Enter a Keyword")
                input#search(name="submit" type="button" value="Search" onClick="return reload()")
                p
                    i A few good sample keywords are "fiscal", "philanthropy", and "immigration."
            #graphic

//- .next-section
//-     p(onClick="return scrollToNextSection()")  Click Here
