article
    .section(id="waypoint-0")
        .contents
            h1 The Evolution of Bias in the Media
            p.byline by Matt Adereth, Ashesh Choudhury, and Aithne Feay

    .section(id="waypoint-1")
        .contents
            h3.rellax(data-rellax-speed="0.5") Background and Motive
            p     If one examines postcapitalist construction, one is faced with a choice:
                | either accept subtextual theory or conclude that consensus comes from
                | communication. Any number of narratives concerning the role of the poet as
                | artist may be found. However, the subject is interpolated into a neocapitalist
                | structural theory that includes sexuality as a paradox.

    .section(id="waypoint-2")
        .contents
            h3.rellax(data-rellax-speed="0.5") Cultural Relevance
            p     “Art is part of the absurdity of language,” says Foucault; however,
                | according to Buxton , it is not so much art that is part
                | of the absurdity of language, but rather the genre, and subsequent economy, of
                | art. The premise of the postconceptual paradigm of expression suggests that
                | society, paradoxically, has objective value. In a sense, Foucault suggests the
                | use of postcapitalist construction to deconstruct culture.

    .section(id="waypoint-3")
        .contents.contents-graphic
            .graphic-header
                h3.rellax(data-rellax-speed="0.5") Keyword References Over Time
                input#keyword(name="search" type="text" value="fiscal" placeholder="Enter a Keyword")
                input#search(name="submit" type="button" value="Search" onClick="return reload()")
            #graphic

    .section(id="waypoint-4")
        .contents
            h3.rellax(data-rellax-speed="0.5") Conclusions
            p     A number of narratives concerning pretextual feminism exist. Thus, Marx’s
                | analysis of postcapitalist construction holds that the raison d’etre of the
                | writer is significant form.

    .section(id="waypoint-5")
        .contents
            h3.rellax(data-rellax-speed="0.5") Credits
            p     The characteristic theme of Reicher’s critique of
                | neocapitalist structural theory is the role of the observer as writer. In a
                | sense, Buxton states that we have to choose between
                | textual theory and the semiotic paradigm of reality.

    .section(id="waypoint-6")
        .contents
            h3.rellax(data-rellax-speed="0.5") Footnotes as Needed
            p     The subject is interpolated into a postcapitalist construction that includes
                | narrativity as a reality. However, Debord promotes the use of subdialectic
                | capitalism to challenge hierarchy.

//- .next-section
//-     p(onClick="return scrollToNextSection()")  Click Here
