html {
  scroll-behavior: smooth;
}

body{
  font-family: "Helvetica";
  text-align: left;
  background: rgb(209,209,209);
  background: linear-gradient(0deg, rgba(209,209,209,1) 0%, rgba(238,238,238,1) 100%);
  color: #444;
  margin: 0;
}

article {
  max-width: 600px;
  margin: 0 auto;
}

.section {
  height: 100vh;
}

.contents {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.byline {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.next-section {
  height: 30vh;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgb(209,209,209);
  background: linear-gradient(180deg, rgba(209,209,209,0) 0%, rgba(238,238,238,1) 100%);
  p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }
}

// Chart Stuff

#graphic {
  margin: 0 auto;
}

body { font: 12px Arial;}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {
    // position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
